# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
*.log

# referece jarvis code as it contains hardcoded keys
ref_jarvis.py